.large-image {
  width: 34rem;  /* Increase the width as per your requirement */
  height: auto;  /* Set height to auto to maintain aspect ratio */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  padding: 2em;
  margin: 1em;
  border-radius: 20px;
  box-shadow: -4rem -4rem 2em #00000044;

  background-color: #40a9e6;
  margin-top: 100px;
}
